*::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background-color: #B0FFEE;;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #39b69d;
  border-radius: 10px;
}

.turnRight {
  transform: rotate(0.25turn);
}

.turnLeft {
  transform: rotate(-0.25turn);
}

.active {
  transition: 0.3s ease-in-out;
  background: #b0ffee;
}

.activeCabin {
  background:rgb(255, 200, 0) !important;
}

.activePanelBtn {
background:#B0FFEE !important;
}
